<% if(index){ %>
    <br><br>
   <h2  ><a class="post-title"  href="<%- url_for(post.path) %>"><%- post.title %></a></h2>
   <hr>
   <div class="" style="margin-left:60px;">
        <%- post.date %>
        <%- post.content %>
        <hr>
        <%
        var tags = [];
        post.tags.forEach(function(tag){
            tags.push('<a href="' + config.root + tag.path + '" class="button small">' + tag.name + '</a>');
        });
        var categories = [];
        post.categories.forEach(function(category){
            categories.push('<a href="' + config.root + category.path + '" class="button small">' + category.name + '</a>');
        });
        %>
        
        <div class="tags">
                <a href="tags">
                    <span class="glyphicon glyphicon-tags">&nbsp;</span> 
                </a><%- tags.join(' ') %>
                &nbsp;
                <a href="categories">
                    <span class="glyphicon glyphicon-folder-open"></span> 
                    <%- categories.join(' ') %>
                </a>
        </div>
    </div> 
<% }else{ %>
    <section class='post-content'>
    </section>
    <%- list_tags({show_count: theme.show_count}) %>
        argicle else
    <% if(post.comments){ %>
        <section id="comments">
        <% if (config.duoshuo_shortname){ %>
                <%- partial('_partial/duoshuo') %>
            <% }else if(config.disqus_shortname){ %>
                <%- partial('_partial/disqus') %>
            <% } %>
        </section>
    <% } %>
<% } %>